@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font-family: 'Montserrat', sans-serif;*/
  
.proj-car {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel {
    overflow: hidden;
    width: 70vw;
    height: 65vh;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; this throws off mobile view*/
    align-self: center;
    /* background-color: pink; */
}

@media (max-width: 600px) {
    .carousel {
        width: 80%;
    }
}
  
.inner {
    white-space: nowrap;
    transition: transform 0.5s;
    /* display: flex; this throws off the next carousel item being hidden*/
}
  
.carousel-item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: lime; */
}
  
.carousel-item-text {
    font-family: 'Montserrat', sans-serif;
    color: rgb(235, 232, 232);
    font-size: 1rem;
    text-shadow: .75px .75px .75px rgb(254, 56, 56);
    text-align: center;
    width: 65rem;
    max-width: 90%;
    margin: 0 auto;
    align-self: center;
    margin-bottom: .5rem;
    white-space: normal;
}

@media (max-width: 600px) {
    .carousel-item-text {
        width: 30rem;
        max-width: 90%;
        align-self: center;
        margin-bottom: .5rem;
    }
}

.carousel-img-landscape {
    width: 40rem;
    height: auto;
    max-width: 80%;
    border: 3px solid white;
    box-shadow: 2px 2px 4px rgb(254, 56, 56);
    border-radius: 10px;
    margin-bottom: 1rem;
}

.carousel-img-portrait {
    width: 10rem;
    height: auto;
    max-width: 80%;
    border: 3px solid white;
    box-shadow: 2px 2px 4px rgb(254, 56, 56);
    border-radius: 10px;
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    .carousel-img-portrait {
        width: 6rem;
    }
}

.repo_link {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.repo {
    font-family: 'Montserrat', sans-serif;
    color: rgb(254, 56, 56);
    font-size: 1rem;
    text-shadow: .75px .75px .75px rgb(235, 232, 232);
    /* text-align: center; */
    /* align-self: center; */
    /* margin-bottom: 1rem; */
}

.repo:hover {
    scale: 1.04;
}

@media (max-width: 600px) {
    html {
        font-size: 14px;
    }
}
 
.button-arrow {
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: .5rem;
    color: rgb(254, 56, 56);
    scale: 2;
    text-shadow: 1px 0px 3px white;
}

.button-arrow:active {
    color: white;
}

.button-arrow:hover {
    scale: 2.1;
}